html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 20px 0;
  background: #F5F5F5;
  color: #454957;
  min-width: 1260px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea,
select,
button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  outline: 0;
  outline: none;
}

p {
  margin: 0;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

.animate {
  -webkit-transition: all 0.375s ease;
  -moz-transition: all 0.375s ease;
  -ms-transition: all 0.375s ease;
  -o-transition: all 0.375s ease;
  transition: all 0.375s ease;
}

.limit-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
}

.inline-block {
  display: inline-block;
}

// Text
.normal-text {
  font-size: 16px;
}

.small-text {
  font-size: 14px;
}

.smaller-text {
  font-size: 12px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}


// Floats
.float-left {
  float: left;
}

.float-right {
  float: right;
}

//

.bottom-margin {
  margin-bottom: 30px;
}

// Forms
.form-group {
  position: relative;
}